body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #F8F9FB;
    font-family: "Playfair Display", serif;
}

#fundo {
    width: 500px;
    height: auto;
    opacity: 0.4;
}

:root {
    --bg-color: #9AB1DD;
    --text-color: #1a1e36;
    --line-color: #1a1e36;
    --font-family: 'Courier New', Courier, monospace;
}

#voltar {
    position: absolute;
    top: 20px;
    left: 0;
    margin: 10px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

#voltar .ivoltar {
    display: none;
    font-size: 24px;
    font-weight: bold;
    color: var(--text-color);
    text-decoration: none;
}

@media (max-width: 900px) {

    #voltar .logo {
        display: none;
    }

    #voltar .ivoltar {
        display: inline-block;
    }

    #voltar {
        width: 40px;
        height: 40px;
        background-color: var(--bg-color);
        border: 2px solid var(--text-color);
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
    }
}

#fichas {
    position: absolute;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    height: auto;
    width: auto;
}

#criar {
    margin: 5px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    height: 100px;
    width: 100px;
    border-radius: 30px;
    background-color: #F8F9FB;
    border: 1px solid #7854b4;
    outline: 4px solid #F8F9FB;
    color: #2d2d62;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#voltar {
    position: absolute;
    top: 20px;
    left: 0;
    margin: 10px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

p {
    font-size: 40px;
    margin: 0;
}

.modal-body {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.modal-body button {
    width: 90px;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 20%;
}

#casaCoelho {
    background-color: #9ab1dd;
}

#casaChapeleiro {
    background-color: #b5d699;
}

#casaRainha {
    background-color: #f899b0;
}

#casaGato {
    background-color: #d593d3;
}
