body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color: #F8F9FA;
    font-family: "Playfair Display", serif;
    margin: 0%;
    padding: 0%;
}

#container {
    background-color: #9ab1dd;
    padding: 40px;
    border-radius: 40px;
    box-shadow: 5px 5px 15px #d8bfd8;
    width: 350px;
    max-width: 70%;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #7854b4;
    border: 1px solid #2d2d62;
}

h1 {
    font-size: 60px;
}

.textBox {
    background-color: #F8F9FA;
    width: 350px;
    max-width: 80%;
    height: 20px;
    padding: 10px;
    margin: 5px;
    border: 1px solid #b5d699;
    border-radius: 10px;
}

.textBox::placeholder {
    color: #d693d3;
    opacity: 1;
}

.submitButton {
    width: 370px;
    max-width: 85%;
    height: 40px;
    padding: 10px;
    padding: 10px;
    margin: 5px;
    font-size: 20px;
    color: #F8F9FA;
    background-color: #f899b0;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

#containerInterno {
    padding: 10px;
    width: 350px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#dados {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

a {
    color: #46563d;
    text-decoration: none;
    margin-left: auto;
}

#rememberMe {
    appearance: none;
    margin-right: 8px;
    margin-top: 0;
    background: #F8F9FA;
    border: 1px solid #7854b4;
    border-radius: 4px;
    width: 16px;
    height: 16px;
    cursor: pointer;
}

#rememberMe:checked {
    background: #d693d3;
}
