body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #F8F9FA;
    font-family: "Playfair Display", serif;
}

#atalhos {
    position: absolute;
    top: 10px;
    left: 10px;
    height: auto;
    display: flex;
    max-width: 30%;

}

#config {
    position: absolute;
    top: 30px;
    right: 30px;
}

button {
    margin: 10px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    height: 100px;
    width: 100px;
    border-radius: 30px;
    background-color: #7854b4;
    border: 1px solid #2d2d62;
    color: #F8F9FA;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#brasao {
    width: 500px;
    height: auto;
    max-width: 80%;
}

#atalhos img {
    width: auto;
    height: 40px;
    filter: brightness(0) invert(1);
    margin: 10px;
}
a{
    text-decoration: none;
    color: #F8F9FA;
}
